.search__container {
  background-color: #00000010;
  backdrop-filter: blur(12px);
  opacity: 0.9;
  border-radius: 10px;
  width: 300px;
  height: fit-content;
  padding: 50px;
  text-align: center;
  margin-left: 100px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 600px) {
  .search__container {
    margin: 0;
  }
}
