.weather-alert__scroll {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: fit-content;
  color: rgba(255, 0, 0, 0.623);
  text-transform: uppercase;
  font-size: 16px;
  animation: alert-scroll 200s infinite linear;
}

@keyframes alert-scroll {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}
